---
import { Card } from '@astrojs/starlight/components';
---

<div data-tauri-disabled>
  <Card title="Demo" icon="document">
    <p>
      You can download the Tauri Documentation app here: <a href="#"
        >INSERT LINK</a
      >
    </p>
  </Card>
</div>
